
{% extends 'base.html' %}

{% block title %}
Статистика
{% endblock%}

{% block body %}
<div class="container">
    <h1>Статистика</h1>
    

    <div class="alert alert-info">


        <p><b>Количество отрытых задач:> {{ count_task_on }} шт</b></p>
        <p><b>Количество отмененных задач:> {{ count_task_cancell }} шт</b></p>
        <p><b>Количество задач в работе:> {{ count_task_work }} шт</b></p>
        <p><b>Среднее время выполнения задачи:> {{ srednie_time }}</b></p>


    </div>

</div>
{% endblock%}